#main-title{
	text-align: center;
}
#main-title h1 a{
	text-decoration: none;
}
div.container{
	padding-bottom: 10px;
}
.add-import-product .action-col{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
#upload a{
	font-size: 12px;
}

/*Search bar*/
#search-box{
	text-align: center;
}
#search-box input[type="text"]{
	line-height: 1.5;
    padding: 5px;
    width: 50%;
}
#search-btn{
	display: inline-block;
}

/*Table list*/
table, th, td {
    border: 1px solid #c3c3c3;
    padding: 10px;
}
table tr th{
	text-align: center;
}
table .action-btns{
	width: 160px;
}
table td span{
    width: 65px;
    font-size: 14px !important;
	display: inline-block;
    text-align: center;
}

/*Popup*/
#addEditModal .product-info div{
	padding: 10px;
}

#addEditModal .product-info span{
	display: inline-block;
	width: 100px;
}
.error-msg.alert.alert-warning.alert-dismissible{
	max-width: 280px;
	overflow-x: auto;
	max-height: 200px;
}

/*Navigation*/
.navigation {
	padding: 15px;
	margin-bottom: 20px;
}
.navigation a{
	padding: 5px;
	border: 1px solid #ffffff00;
}
.navigation a:hover{
	border: 1px solid #a9a9a9;
	border-radius: 4px;
}
.navigation a:last-child {
	float: right;
}
